.replay-btn-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}
*{font-family: Georgia, 'Times New Roman', Times, serif;}
.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: #82C8E5;
  overflow: hidden;
;
}
header {
  flex: 0 80px;
}
nav {

  flex: 0 80px;
  background-color: rgb(240, 245, 181);
  height: 10vh;
  font-size: 2em;
  display: flex;
  align-items: center;
    h1{
        margin-left: 1%;
        margin-right: 1%;
    }
}


.startMain {
  flex: 1 calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer {
  flex: 0 80px;
  background-color: rgb(240, 245, 181);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary.btn-xl{
     display: flex;
     align-items: center;
    justify-content: center;
    font-size: 3em;
    width: 50%;
    height: 30%;
    text-align: center;
}


.boxStart{
    h1{
        text-align: center;
        margin-bottom: 20px;
        color: azure;
    }
    border: black solid 2px;
    border-radius: 2em;
    background-color: rgba(161, 153, 151, 0.882);
    padding: 2em;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

