*{font-family: Georgia, 'Times New Roman', Times, serif;}
header {
  flex: 0 80px;
}
nav {

  flex: 0 80px;
  background-color: rgb(240, 245, 181);
  height: 10vh;
  font-size: 2em;
  display: flex;
  align-items: center;
    h1{
        margin-left: 1%;
        margin-right: 1%;
    }
}


  body{
    flex: auto;
  
    overflow: hidden;
    height: 100vh;
    margin: 0%;
      background-color: #82C8E5;
  }
  main{
    background-color: #82C8E5;
    padding-top: 0.5em;
    padding-bottom: 2em;
    display: flex
  }
  body{margin: 0%;
  padding: 0%;
  }

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 85vmin;   
  height: 85vmin;  
  margin: 0 auto;  

  grid-gap: .2em;

  
}

.card {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  padding: .05em;
  img{
    width: 95%;
    height: 95%;
  border-radius: 1em;}
  p{
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(1rem, 3vw, 2rem)
     
  }
}
.card:hover{
  background-color: #afaeae;
  border: 2px solid #777777;
  
}
.websocketInfo{
     position: relative; 
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
  margin: 20px;
  height: 20vh;
}


