header{
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    background-color: rgb(240, 245, 181);
    


    img{
        margin-left: 1%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        width: 3em;
        height: 3em;    
        align-items: center;
            }
  }

  body{
    flex: auto;
    overflow: hidden;
    height: 100vh;
    margin: 0%;
  }
  main{
    background-color: rgb(58, 73, 120);
    padding-top: 0.5em;
    padding-bottom: 2em;
  body{margin: 0%;
  padding: 0%;
  }

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 85vmin;   /* keeps the whole board square */
  height: 85vmin;  /* keeps the whole board square */
  margin: 0 auto;  /* centers it */

  grid-gap: .2em;

  
}

.card {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  padding: .05em;
  img{
    width: 95%;
    height: 95%;
  border-radius: 1em;}
  p{
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(1rem, 3vw, 2.5rem)
     
  }
}
.card:hover{
  background-color: #afaeae;
  border: 2px solid #777777;
  
}
}