*{
    font-family: sans-serif;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header{
    display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
            h1{
                align-items: center;
                font-size: 2em;
                margin-top: auto;
                margin-bottom: auto;
            }
            background-color: rgb(240, 245, 181);
            width: 100%;
            height: 4em;
            img{
                margin-left: 1%;
                margin-top: 0.5%;
                margin-bottom: 0.5%;
                width: 3em;
                height: 3em;    
                align-items: center;
            }
            

    nav{
        display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
            align-items: center;
            font-size: 2em;
            margin-top: auto;
                margin-bottom: auto;
        
        }
        menu{
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
            list-style: none;
            margin-top: auto;
                margin-bottom: auto;
        }


    }

main{
    background-color: #82C8E5;
  flex: 1;
  font-size: 30px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section{
     border: black solid 2px;
    background-color: rgba(161, 153, 151, 0.882);
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
    width: 60vmin;  
    height: 60vmin;
    flex: 1;

    h1{
        color: white;
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 2em;
    flex: row;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    }


form{
     #loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    
    
    input{
    
        border-radius: 10px;
        border: rgba(96, 95, 95, 0.796);
      }

    
    div {
      display: flex;
      flex-direction: column;
      
      
    }
  }

  div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }



  #loginButton {
    background-color: #4c66af; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#loginButton:hover {
    background-color: #3b4a7a;
}
 #createButton {
    background-color: #4c66af00; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#createButton:hover {
    background-color: rgb(58, 73, 120);
}

}}













footer{
    
    background-color: rgba(161, 153, 151);
   
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
