header{
    display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
            h1{
                align-items: center;
                font-size: 2em;
                margin-top: auto;
                margin-bottom: auto;
            }
            background-color: rgb(240, 245, 181);
            width: 100%;
            height: 4em;
            img{
                margin-left: 1%;
                margin-top: 0.5%;
                margin-bottom: 0.5%;
                width: 3em;
                height: 3em;    
                align-items: center;
            }
            

    nav{
        display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
            align-items: center;
            font-size: 2em;
            margin-top: auto;
                margin-bottom: auto;
        
        }
        menu{
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
            list-style: none;
            margin-top: auto;
                margin-bottom: auto;
        }


    }


body{
margin-left: 0%;
margin-right: 0%;
margin-top: 0%;
margin-bottom: 0%;

background-color: #82C8E5;

section{
     border: black solid 2px;
    background-color: rgba(161, 153, 151, 0.882);
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    flex: 1;

    h1{
        color: white;
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 2em;
    flex: row;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    }


form{
     #loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
    input{
    
        border-radius: 10px;
        border: rgba(96, 95, 95, 0.796);
      }

    
    div {
      display: flex;
      flex-direction: column;
      
      
    }
  }

  div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }



  #loginButton {
    background-color: #4c66af; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#loginButton:hover {
    background-color: #3b4a7a;
}
 #createButton {
    background-color: #4c66af00; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#createButton:hover {
    background-color: rgb(58, 73, 120);
}

}}
button{
    
    background-color: #ffffff; 
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 1em .5em;
    cursor: pointer;
    border-radius: 12px;
    
    
}
#learnMoreButton {
     position: fixed; /* Positions relative to the browser window */
  bottom: 20px;    /* 20px from the bottom edge */
  left: 20px;
}
#beInspiredButton {
     position: fixed; /* Positions relative to the browser window */
  bottom: 20px;    /* 20px from the bottom edge */
  right: 20px;
}
#learnMoreButton:hover ,#beInspiredButton:hover {
    background-color: #a7a9ac;

}

footer{
    
    background-color: rgba(161, 153, 151);
   
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

   

    p{
        font-size: 1em;
    }
}


}

