*{font-family: Georgia, 'Times New Roman', Times, serif;}
body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: #82C8E5;
  overflow: hidden;
;
}
header {
  flex: 0 80px;
}
nav {

  flex: 0 80px;
  background-color: rgb(240, 245, 181);
  height: 10vh;
  font-size: 2em;
  display: flex;
  align-items: center;
    h1{
        margin-left: 1%;
        margin-right: 1%;
    }
}
.center{
    display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    background-color: azure;
    border-radius: 30px;
    h2{
        font-size: 3em;
    }
}

.statsBox{
    height: 85vh;
     flex: 1 calc(100vh - 160px);
    display: flex;
    flex-direction: column;
      justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    background-color: rgba(161, 153, 151, 0.882);
    border-radius: 30px;
   
}

.tables{
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    gap: 2em;
   
    border-radius: 30px;
    table{
        margin-top: 20px;
        margin-bottom: 20px;
      
        border-radius: 20px;
        padding: 1em;
        background-color: azure;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        th, td{
            text-align: center;
            padding: 10px;
        }
    }
}

h3{
            text-align: center;
            background-color: azure;
            margin-bottom: 10px;
            padding: .5em;
            border-radius: 20px;
            margin-left: 1em;
              margin-right: 1em;
            
        }





