*{font-family: Georgia, 'Times New Roman', Times, serif;}
body {
  display: flex;
  
  flex-direction: column;
  max-width: 100vw;
  background-color: #82C8E5;
  overflow: hidden;
;
}
header {
  flex: 0 80px;
}
nav {

  flex: 0 80px;
  background-color: rgb(240, 245, 181);
  height: 10vh;
  font-size: 2em;
  display: flex;
  align-items: center;
    h1{
        margin-left: 1%;
        margin-right: 1%;
    }
}
.center{
    display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    background-color: azure;
    border-radius: 30px;
    h2{
        font-size: 3em;
    }
}

.statsBox{
    border: black solid 2px;
    border-radius: 2em;
    background-color: rgba(161, 153, 151, 0.882);
    width: 90%;
    max-width: 1000px;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;

}
.carousel { max-width: 760px; margin: 0 auto; }
.carousel-inner { position: relative; overflow: hidden; }

h3{
    text-align: center;
    color: black;
}
.carousel-item{
    display: block; 
    width: 100%;
     box-sizing: border-box; 
     padding: 1rem; 
     background-color: #f05159; 
     border-radius: 15px; 
     min-height: 220px;
     
}

.carousel-item :active{
   max-width:  40vw;


}


