/* Always gray out the logout link, even when active */
.logout-link,
.logout-link.active {
  color: #6c757d !important; /* Bootstrap's .nav-link default gray */
  pointer-events: auto;
}
*{font-family: Georgia, 'Times New Roman', Times, serif;}
.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: #82C8E5;
  overflow: hidden;
;
}
header {
  flex: 0 80px;
}
nav {

  flex: 0 80px;
  background-color: rgb(240, 245, 181);
  height: 10vh;
  font-size: 2em;
  display: flex;
  align-items: center;
    h1{
        margin-left: 1%;
        margin-right: 1%;
    }
}


main {
  flex: 1 calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer {
  flex: 0 80px;
  background-color: rgb(240, 245, 181);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login{
    display: flex;
  justify-content: center; 
  align-items: center;     
  height: 80%;          
   
}
.box{
    h1{
        text-align: center;
        margin-bottom: 20px;
        color: azure;
    }
    border: black solid 2px;
    border-radius: 2em;
    background-color: rgba(161, 153, 151, 0.882);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.leftbutton{
    margin-left: 10px; 
    align-self: flex-start; 
}
.rightbutton{
    margin-right: 10px; 
    align-self: flex-end; 
    
}
    
.button.holder{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
